@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap');

:root {
    --primary-color: #0891B2;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
    --heading-shadow-one: #FF9EAA;
    --card-background: #06b6d4;
}

@keyframes intro-anim {
    0% {
        clip-path: inset(76% 0 21% 0);
    }

    10% {
        clip-path: inset(55% 0 29% 0);
    }

    20% {
        clip-path: inset(33% 0 40% 0);
    }

    30% {
        clip-path: inset(37% 0 51% 0);
    }

    40% {
        clip-path: inset(93% 0 4% 0);
    }

    50% {
        clip-path: inset(53% 0 26% 0);
    }

    60% {
        clip-path: inset(85% 0 13% 0);
    }

    70% {
        clip-path: inset(87% 0 4% 0);
    }

    80% {
        clip-path: inset(51% 0 27% 0);
    }

    90% {
        clip-path: inset(83% 0 3% 0);
    }

    100% {
        clip-path: inset(1% 0 81% 0);
    }
}

body {
    background-image: url("/images/background.jpg");
    font-family: 'Wix Madefor Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    overflow: hidden;
    line-height: 2;
    letter-spacing: 0.1rem;
}

hr {
    margin: 2rem 0rem;
}

/* container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 60%;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-right: 0.25rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: #0891B2;
}

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
}

.navigation .link {
    color: white;
}

.nav-links {
    display: contents;
}

.navigation .nav-pills {
    display: flex;
    margin-left: auto;
}

.nav-toggle {
    display: none;
}

.hero {
    padding: 1rem;
}

.hero .hero-heading {
    letter-spacing: 0.5rem;
    font-size: 3rem;
    text-align: center;
    margin: 0px;
}

.hero-heading::before {
    content: attr(txt);
    position: absolute;
    text-shadow: var(--heading-shadow-one) 4px 0px;
    animation: 5s linear 0s infinite alternate-reverse none running intro-anim;
}

.heading-inverted {
    color: var(--primary-color);
}

/* sections */

.section {
    padding-bottom: 1rem;
}

.ow {
    background-color: var(--off-white);
}

/* footers */
.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.home-icon {
    font-size: 1.5rem;
}

.link-center {
    text-align: center;
}

.proj-list {
    margin-bottom: 2rem;
}

.zero-margin {
    margin: 0px;
}

.link-active {
    font-weight: bold;
}

/* ABOUT SECTION - TIMELINE CSS */
.timeline {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 20px auto;
    padding: 20px;
}

.card {
    position: relative;
    max-width: 50%;
}

.card-para {
    font-size: small;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: #efdfe1;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}

/* Title of the card */
.title {
    color: gray;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--primary-color);
}
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--primary-color);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}


/* text right if the card is even  */
.card:nth-child(even)>.info>.title {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title::before {
    right: -45px;
}